<script>
  const qStUrl = 'https://www.bzst.de/DE/Privatpersonen/Kapitalertraege/AuslaendischeQuellensteuer/auslaendischequellensteuer_node.html;'
  const quellenSteuerFree = [
    { name: "Deutschland", iso: "DE", steuer: 26.375, anrechenbar: 0 },
    { name: "Großbritannien", iso: "GB", steuer: 0, anrechenbar: 0 },
    { name: "Irland", iso: "IE", steuer: 0, anrechenbar: 0 },
    { name: "Liechtenstein", iso: "LI", steuer: 0, anrechenbar: 0 },
    { name: "Singapur", iso: "SG", steuer: 0, anrechenbar: 0 },
    { name: "Brasilien", iso: "BR", steuer: 0, anrechenbar: 0 },
  ];

  const quellenSteuerLimit = [
    { name: "Griechenland", iso: "GR", steuer: 5, anrechenbar: 5 },
    { name: "Taiwan", iso: "TW", steuer: 21, anrechenbar: 10 },
    { name: "Vereinigte Staaten", iso: "US", steuer: 30, anrechenbar: 15 },
    { name: "Kanada", iso: "CA", steuer: 25, anrechenbar: 15 },
    { name: "Kolumbien", iso: "CO", steuer: 7.5, anrechenbar: 15 },
    { name: "Russland", iso: "RU", steuer: 15, anrechenbar: 15 },
  ];

  const abgeltungsSteuer = 25;
  const soliBeitrag = 5.5;
</script>


<html id="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>DeGiroTax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-plus@2.2.9/theme-chalk/dark/css-vars.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3.4.21"></script>
    <script src="https://unpkg.com/element-plus"></script>
  </head>

  <body>
    <div id="app">
      <el-container>
        <el-header>
          DeGiroTax v0.01.000
          <br />

          <el-input v-model="zoomCurrent" readonly size="small" class="zoom-control">
            <template #prepend>
              <el-button @click="zoomUi(-1)" :disabled="zoomCurrent === zoomLevels[0]"
                >-</el-button
              >
            </template>
            <template #append>
              <el-button @click="zoomUi(+1)" :disabled="zoomCurrent === zoomLevels.at(-1)"
                >+</el-button
              >
            </template>
          </el-input>

          <el-button @click="test1">test1</el-button>
          <el-button @click="toggleDarkMode()" circle size="">🌙</el-button>

          <el-divider />
        </el-header>
        <el-main style="min-width: 999px">
          <div class="main-row">
          <el-row :gutter="12" >
            <el-col :xs="24" :sm="24" :md="(!singleColumn) ? 18 : 24" :lg="(!singleColumn) ? 18 : 24" :xl="16" :offset="0">
              <h3>Portfolio- und Gewinn/Verlust-Übersicht</h3>

              <template v-for="section in sections">
                <el-card :class="'box-card section-card' + ((section.collapsed) ? ' collapsed' : '')" shadow="always">
                  <template #header>{{ section.caption }}  
                    <el-button text @click="section.collapsed = !section.collapsed">
                      <span v-if="section.collapsed">&#x25BC;</span>
                      <span v-else>&#x25B2;</span>
                    </el-button>
                  </template>

                  <el-form v-if="!section.collapsed">
                    <template v-for="(field, key) of section.entries">
                      <el-input
                        :value="field.value"
                        placeholder="-.--"
                        :title="key"
                        v-if="field.disabled === true"
                        disabled
                      >
                        <template #prepend><span v-html="`${key}: ` + field.name"/></template>
                        <template #append>EUR</template>
                      </el-input>
                      <el-input v-else v-model="field.value" placeholder="-.--" :title="key">
                        <template #prepend><span v-html="`${key}: ` + field.name"/></template>
                        <template #append>EUR</template>
                      </el-input>
                    </template>
                  </el-form>
                </el-card>
                <br />
              </template>

              <h3>Ausschüttungen</h3>
              <el-card class="box-card div-card" shadow="always">
                <template #header>Dividendenübersicht je Land in EUR</template>
                <el-form>
                  <el-row>
                    <el-col :span="5">Steuersatz</el-col>
                    <el-col :span="4">Anrechenbar</el-col>
                    <el-col :span="5">Brutto</el-col>
                    <el-col :span="5">Quellensteuer</el-col>
                    <el-col :span="5">Netto</el-col>
                  </el-row>
                  <el-row
                    class="quell-tax"
                    v-for="(entry, index) in taxModel.withholdingTaxes"
                    :class="entry.rateAllowable > 0 ? 'tax-limit' : 'tax-free'"
                  >
                    <el-col :span="5">
                      <el-input
                        v-model="entry.ratePercentage"
                        :tabindex="100 + index"
                        placeholder="-.--"
                        class="input-percent"
                      >
                        <template #prepend
                          ><span class="cursor-help" :title="entry.name"
                            >{{ entry.iso }}</span
                          ></template
                        >
                        <template #append>%</template>
                      </el-input>
                    </el-col>
                    <el-col :span="4">
                      <el-input
                        v-model="entry.rateAllowable"
                        :tabindex="1000 + index"
                        placeholder="-.--"
                        size=""
                        class="input-percent"
                      >
                        <template #append>%</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input
                        :tabindex="10000 + index"
                        v-model="entry.valBrutto"
                        placeholder="-.--"
                      >
                        <template #append>EUR</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input :value="entry.valTax" placeholder="-.--" size="" disabled>
                        <template #append>EUR</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input
                        :value="entry.valNetto"
                        placeholder="-.--"
                        size=""
                        disabled
                      >
                        <template #append>EUR</template>
                      </el-input>
                    </el-col>
                  </el-row>
                  <br />
                  <el-row class="quell-tax font-bold">
                    <el-col :span="5"> </el-col>
                    <el-col :span="4"> </el-col>
                    <el-col :span="5">
                      <el-input
                        v-model="taxModel.withholdingTaxesSum.sumBrutto"
                        placeholder="-.--"
                        size=""
                        disabled
                      >
                        <template #append>EUR</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input
                        v-model="taxModel.withholdingTaxesSum.sumTax"
                        placeholder="-.--"
                        size=""
                        disabled
                      >
                        <template #append>EUR</template>
                      </el-input>
                    </el-col>
                    <el-col :span="5">
                      <el-input
                        v-model="taxModel.withholdingTaxesSum.sumNetto"
                        placeholder="-.--"
                        size=""
                        disabled
                      >
                        <template #append>EUR</template>
                      </el-input>
                    </el-col>
                  </el-row>
                </el-form>
                <h6 class="float-right">
                  (<a
                    :href="qStUrl"
                    >Anrechenbare ausländische Quellensteuer 2022</a
                  >,
                  <a href="https://de.wikipedia.org/wiki/ISO-3166-1-Kodierliste#S"
                    >ISO-3166-1</a
                  >)
                </h6>
              </el-card>
            </el-col>
            <el-col v-if="!singleColumn" :xs="6" :sm="6" :md="8" :lg="6" :xl="8" :offset="0" class="two-col">
              <Kap :anlage-kap="anlageKap" />
            </el-col>
          </el-row>
          <el-row v-if="singleColumn" :gutter="12">
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" :offset="0">
              <Kap :anlage-kap="anlageKap" />
              </el-col>
          </el-row>
        </div>
        </el-main>
        <br />
        <el-footer>
          <el-divider />
          footer
        </el-footer>
      </el-container>
    </div>
  </body>
</html>

<script type="vue-template" id="Kap">
  <h3>
    Steuererklärung
    <!-- el-button @click="calcTax">Aktualisieren</!-->
  </h3>
  <el-card class="box-card kap-card" shadow="always">
    <template #header>{{ anlageKap.caption }}</template>
    <el-form>
      <el-input v-model="value" placeholder="-.--" v-for="(value, key) in anlageKap.entries">
        <template #prepend><div class="font-bold"><span v-html="key"></span></div></template>
        <template #append>EUR</template>
      </el-input>
    </el-form>
  </el-card>
  <br />
</script>

<script>
  const app = Vue.createApp({
    components: { "Kap": {
      props: ['anlageKap'],
      template: "#Kap"
  }},
    mounted() {
      window.addEventListener('resize', this.updateColumnMode);
    },
    unmounted() {
      window.removeEventListener('resize', this.updateColumnMode);
    },    
    setup() {
      const singleColumn = Vue.ref(false);
      const updateColumnMode = () => singleColumn.value = (window.outerWidth < 1100);
      updateColumnMode();

      let darkMode = false;
      let zoomCurrent = Vue.ref(100);
      const zoomLevels = [100, 90, 75, 50].sort((a, b) => a - b);
      zoomUi(0);
      
      function toggleDarkMode() {
        darkMode = !darkMode;
        const className = (darkMode) ? 'dark' : '';
        document.getElementById('html').className = className;
      }

      function anyToNum(val) {
        if (!isNaN(val)) {
          return Number(val);
        }

        const str = `${val}`;
        const isUsUngrouped = str.indexOf('.') > 0 && str.indexOf(',') < 0;
        const isUsGrouped = !isUsUngrouped && str.indexOf('.') > str.indexOf(',');
        const isDeUngrouped = str.indexOf(',') > 0 && str.indexOf('.') < 0;
        const isDeGrouped = !isDeUngrouped && str.indexOf(',') > str.indexOf('.');

        if (isUsGrouped || isUsUngrouped) {
          return Number(str.replace(',', ''));
        }

        if (isDeGrouped || isDeUngrouped) {
          return Number(str.replace('.', '').replace(',', '.'));
        }
      }

      const toUsNum = (val) => (!isNaN(val)) ? Number(`${val}`.replace('.','').replace(',','.')) : val;
      const toCurrency = (val) => !val ? val : Number(`${val}`).toFixed(2);
      const toNum = (val, def = 0) => (val !== null && val !== undefined) ? anyToNum(val) : def;
      const strSort = (a, b) => a.toString().localeCompare(b.toString());
      const sumUp = (objects, key = undefined, sumIfZero = undefined) => {
        let sum = 0;
        if (key) {
          Object.values(objects).forEach((entry) => sum += entry[key] ? Number(entry[key]) : 0);
        } else {
          [...objects].forEach((val) => sum += (val) ? Number(`${val}`) : 0)
        }
        return sum === 0 ? sumIfZero : toCurrency(sum);
      }

      const taxModel = Vue.reactive({ withholdingTaxes: {} });

      const anlageKap = Vue.reactive({
        caption: "Anlage KAP",
        entries: {
          "7:": undefined,
          "18:": undefined,
          "19:": undefined,
          "20:": undefined,
          "22:": undefined,
          "23:": undefined,
          "37:": undefined,
          "38:": undefined,
          "41:": undefined,
          "50:": undefined,
          "51:": undefined,
        },
      });

      const realizedGainsAndLosses = Vue.reactive({
        caption: "Realisierte Gewinne/Verluste",
        collapsed: false,
        entries: {
          KapE: { 
            name: "Kapitalerträge", 
            value: 0, 
            disabled: true 
          },
          GaAv: { 
            name: "Gewinne aus Aktienveräußerungen", 
            value: 0 
          },
          VaVA: { 
            name: "Verluste aus der Veräußerung von Aktien", 
            value: 0 
          },
          VoVA: { 
            name: "Verluste&nbsp;<b>ohne</b>&nbsp;Verluste aus der Veräußerung von Aktien", 
            value: 0 
          },
          GoVA: { 
            name: "Gewinne ohne Gewinne aus der Veräußerung von Aktien", 
            value: 0 
          },
        },
      });

      realizedGainsAndLosses.entries.KapE.value = Vue.computed(() => {
        let sum = 0;
        sum += toNum(realizedGainsAndLosses.entries.GaAv.value);
        sum -= toNum(realizedGainsAndLosses.entries.VaVA.value);
        sum -= toNum(realizedGainsAndLosses.entries.VoVA.value);
        sum += toNum(realizedGainsAndLosses.entries.GoVA.value);
        return toCurrency(sum);
      });

      const paidAndReceivedInterest = Vue.reactive({
        caption: "Zinsen",
        collapsed: false,
        entries: {
          SbZi: { 
            name: "Summe bezahlter Zinsen", 
            value: 0 
          },
          ZfWk: { 
            name: "Zinsen für Wertpapierkredit", 
            value: 0 
          },
          SZlW: { 
            name: "Summe bezahlter Zinsen für leerverkaufte Wertpapiere", 
            value: 0 
          },
          SeZi: { 
            name: "Summe erhaltener Zinsen", 
            value: 0 
          },
        },
      });

      const transactionFees = Vue.reactive({
        caption: "Gebühren",
        collapsed: false,
        entries: {
          GgaA: {
            name: "Transaktionsgebühren für geschlossene Positionen aus Aktien",
            value: 0,
          },
          GgnA: {
            name: "Transaktionsgebühren für alle geschlossenen Positionen außer Aktien",
            value: 0,
          },
          WggP: {
            name: "Währungswechselgebühren für geschlossene Positionen",
            value: 0,
          },
          TrSt: {
            name: "Transaktionssteuer",
            value: 0,
          },
        },
      });

      const sections = [realizedGainsAndLosses, paidAndReceivedInterest, transactionFees];

      matchTaxDic2UiModel();
      function matchTaxDic2UiModel() {
        [...quellenSteuerFree, ...quellenSteuerLimit.sort(strSort)].forEach((entry) => {
          taxModel.withholdingTaxes[entry.iso] = Vue.reactive({
            iso: entry.iso,
            name: entry.name,
            rateAllowable: entry.anrechenbar,
            ratePercentage: entry.steuer,
            valBrutto: 0,
          });

          taxModel.withholdingTaxes[entry.iso].valTax = Vue.computed(() => toCurrency(taxModel.withholdingTaxes[entry.iso].valBrutto ? toNum(taxModel.withholdingTaxes[entry.iso].valBrutto) * (toNum(taxModel.withholdingTaxes[entry.iso].ratePercentage) / 100) : undefined));
          taxModel.withholdingTaxes[entry.iso].valNetto = Vue.computed(() => (taxModel.withholdingTaxes[entry.iso].valTax > 0) ? toCurrency(toNum(taxModel.withholdingTaxes[entry.iso].valBrutto) - taxModel.withholdingTaxes[entry.iso].valTax) : ((taxModel.withholdingTaxes[entry.iso].valBrutto > 0) ? taxModel.withholdingTaxes[entry.iso].valBrutto : undefined));
        });
      }

      function test1() {
        realizedGainsAndLosses.entries.GaAv.value = 2884.76;
        realizedGainsAndLosses.entries.VaVA.value = 2834.52;
        realizedGainsAndLosses.entries.VoVA.value = 17.67;
        realizedGainsAndLosses.entries.GoVA.value = 1.07;

        transactionFees.entries.GgaA.value = 307.93;
        transactionFees.entries.GgnA.value = 10.06;
        transactionFees.entries.WggP.value = 15.91;
        transactionFees.entries.TrSt.value = 0;

        taxModel.withholdingTaxes["DE"].valBrutto = 6.15;
        taxModel.withholdingTaxes["US"].valBrutto = 14.58;

        // updateWithholdingTaxEntries();
      }

      function calcTax() {
        const values = Object.values(taxModel.withholdingTaxes);
        const valuesWithoutLimit = values.filter((_) => Number(_.ratePercentage) === 0);

        anlageKap.entries["7:"] = toCurrency(toNum(taxModel.withholdingTaxes["DE"].valBrutto));

        anlageKap.entries["19:"] = toCurrency(0
                                  + toNum(realizedGainsAndLosses.entries.KapE.value)
                                  + toNum(paidAndReceivedInterest.entries.SeZi.value)
                                  - toNum(transactionFees.entries.GgaA.value)
                                  - toNum(transactionFees.entries.GgnA.value)
                                  - toNum(transactionFees.entries.WggP.value)
                                  - toNum(transactionFees.entries.TrSt.value)
                                  - toNum(taxModel.withholdingTaxes["DE"].valBrutto));

        anlageKap.entries["20:"] = toCurrency(toNum(realizedGainsAndLosses.entries.GaAv.value));

        anlageKap.entries["22:"] = toCurrency(0
                                    + toNum(realizedGainsAndLosses.entries.VoVA.value)
                                    + toNum(transactionFees.entries.GgnA.value));

        anlageKap.entries["23:"] = toCurrency(0
          + toNum(realizedGainsAndLosses.entries.VaVA.value)
          + toNum(transactionFees.entries.GgaA.value)
          + toNum(transactionFees.entries.WggP.value));

        anlageKap.entries["37:"] = 0
          + toCurrency(toNum(taxModel.withholdingTaxes["DE"].valBrutto) 
          * (abgeltungsSteuer/100));

        anlageKap.entries["38:"] = 0
          + toCurrency(toNum(taxModel.withholdingTaxes["DE"].valBrutto) 
          * (abgeltungsSteuer/100) * (soliBeitrag/100));

        let sum41 = 0;
          values.forEach((taxes) => sum41 += taxes.valBrutto * (Math.min(taxes.rateAllowable, taxes.ratePercentage) /100));
        anlageKap.entries["41:"] = sum41;
      }

      taxModel.withholdingTaxesSum = {
        sumBrutto: 0,
        sumTax: 0,
        sumNetto: 0,
      };

      taxModel.withholdingTaxesSum.sumBrutto = Vue.computed(() =>
        sumUp(taxModel.withholdingTaxes, "valBrutto")
      );
      taxModel.withholdingTaxesSum.sumTax = Vue.computed(() =>
        sumUp(taxModel.withholdingTaxes, "valTax")
      );
      taxModel.withholdingTaxesSum.sumNetto = Vue.computed(() =>
        sumUp(taxModel.withholdingTaxes, "valNetto")
      );

      function zoomUi(direction) {
        const requestedIndex = zoomLevels.indexOf(zoomCurrent.value) + direction;
        const allowedIndex =
          direction < 0
            ? Math.max(0, requestedIndex)
            : Math.min(zoomLevels.length, requestedIndex);
        zoomCurrent.value = zoomLevels[allowedIndex];
        document.body.style.zoom = zoomCurrent.value / 100;
      }

      Vue.watch([taxModel, ...sections], (now, old) => calcTax());

      return {
        singleColumn,
        updateColumnMode,
        taxModel,
        realizedGainsAndLosses,
        sections,
        anlageKap,
        calcTax,
        zoomUi,
        zoomCurrent,
        zoomLevels,
        test1,
        toggleDarkMode,
        qStUrl
      };
    },
  });

  app.use(ElementPlus);
  app.mount("#app");
</script>

<style>
  .zoom-control {
    width: 120;
    zoom: 0.9;
  }

  .zoom-control .el-input__wrapper {
    justify-content: center;
  }

  .zoom-control .el-input__inner {
    text-align: center;
  }

  div#app { 
    justify-content: center;
    text-align: center;
  }

  .el-main {
    display: flex;
    justify-content: center;
  }

  .main-row {
    max-width: 1800px;
    overflow-x: auto;
  }

  .el-card__body {
    overflow-x: auto;
  }

  .el-card__header {
    font-weight: bold;
    text-align: left;
  }

  .section-card.collapsed .el-card__body {
    padding: 0;
  }

  .section-card .el-input-group__prepend {
    width: 570px;
    min-width: 570px;
    justify-content: left;
  }

  .section-card .el-input__inner {
    width: 100px;
    text-align: right;
  }

  .quell-tax .el-input__inner {
    text-align: right;
    width: 60px;
  }

  .div-card .el-form > .el-row:first-child {
    padding-bottom: 10px;
  }

  .div-card .el-form > .quell-tax.tax-limit {
    padding-top: 20px;
  }

  .div-card .el-form > .quell-tax.tax-limit ~ .quell-tax.tax-limit {
    padding-top: 0;
  }

  .kap-card .el-input-group__prepend {
    justify-content: right;
    width: 40px;
    min-width: 40px;
  }

  .kap-card .el-input__wrapper {
    justify-content: right;
  }

  .kap-card .el-input__inner {
    text-align: right;
    justify-content: right;
  }
  .two-col .kap-card .el-input__inner {
    width: 60px;
    max-width: 60px;
  }

  .input-percent .el-input__inner {
    text-align: right;
    width: 40px;
    max-width: 40px;
  }

  .input-percent .el-input__wrapper {
    text-align: right;
    width: 50px;
    max-width: 50px;
  }

  .float-right {
    float: right;
  }

  .font-bold * {
    font-weight: bold;
  }

  h6 {
    padding: 0px;
    margin: 0px;
  }

  .cursor-help {
    cursor: help;
  }

  .text-left {
    text-align: left;
    justify-content: left;
  }

  * {
    font-family: "Roboto Mono", monospace;
  }

  html:not(.dark) body { background-color: gainsboro; }

  a {
    text-decoration: none;
    color: #0090d4;
    font-weight: bold;
  }

  .very-low {
    opacity: 0.5;
  }

  .above-zero {
    opacity: 0.9;
  }

  tr:hover th,
  .flash {
    opacity: 1;
  }

  th {
    margin: 0;
    padding: 0 20px 0 20px;
    opacity: 0.7;
  }

  td {
    margin: 0;
    padding: 0 20px 0 20px;
  }
</style>
